body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-top: 100px;
}

form {
  background-color: azure;
  width: auto;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid black;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;

  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
